<% @bookings.each do |booking| %>
    <div class="card-product m-2">
      <% if booking.product.images.present? %>
        <%= image_tag booking.product.images[0].data, class: "card-img-top" %>
      <% else %>
        <%= image_tag 'http://denrakaev.com/wp-content/uploads/2015/03/no-image-800x511.png', class: "card-img-top"%>
      <% end %>
      <div class="card-product-infos">
        <h3 style= "color: black;"><%= booking.product.title %></h3>
        <p><%= booking.id %>| <%= booking.start_date %><%= booking.end_date %> | <%= booking.total_cost %></p>
        <div class="booking-card-info d-flex justify-content-between">
          <p>Status: <%= booking.status %></p>
          <p class="cancel-button">Cancel</p>
        </div>
      </div>
    </div>
<% end %>
