<% @order_bookings = @bookings.sort_by { |k| k[:status] } %>
<% @order_bookings.each do |booking| %>
    <div class="card-product m-2">
      <% if booking.product.images.present? %>
        <%= image_tag booking.product.images[0].data, class: "card-img-top" %>
      <% else %>
        <%= image_tag 'http://denrakaev.com/wp-content/uploads/2015/03/no-image-800x511.png', class: "card-img-top"%>
      <% end %>
      <div class="card-product-infos">
        <%=link_to product_path(booking.product) do  %>
          <h3 style= "color: black;" class="booking-card-title-name"><%= booking.product.title %></h3>
        <% end %>
        <p><%= booking.id %>| <%= booking.start_date.strftime("%b/%d/%Y") %> to <%= booking.end_date.strftime("%b/%d/%Y") %> | <%= booking.total_cost %></p>
        <div class="booking-card-info d-flex justify-content-between">
          <div class="status d-flex justify-content-between align-items-center">
            <p>Status: <%= booking.status %></p>
            <% if booking.status == 'pending' %>
              <i class="fas fa-circle yello"></i>
            <% elsif booking.status == 'accepted' %>
              <i class="fas fa-circle saccepted"></i>
            <% elsif booking.status == 'rejected' %>
              <i class="fas fa-circle srejected"></i>
            <% else %>
              <i class="fas fa-circle sarchived"></i>
            <% end %>
          </div>
          <%=link_to "Edit Booking", edit_booking_path(booking), class: "booking-cancel-button" %>
          <%=link_to "Cancel Booking", canceled_path(booking), class: "booking-cancel-button" %>
        </div>
      </div>
    </div>
<% end %>
