<!-- dashboard-product-card -->
<% @myproducts.each do |product| %>
<div class="card m-3">
  <img src="<%= product.images[0].data %>" class="card-img-top">
  <div class="card-body p-2">
    <h3 class="card-title"><%= link_to product.title, product_path(product) %></h3>
    <p><%= product.description.first(100) %>...</p>
    <div class="product-information-dashboard">
      <p>€<%= product.daily_cost %></p>
      <div class="product-actions">
        <%= link_to edit_product_path(product) do%>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to product_path(product), method: :delete, data: { confirm: "Are you sure?" } do%>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-orders">
  <%= render 'components/dashboard-product-card' %>
</div>
<% end %>
