<!-- dashboard-product-card -->
<div class="information-cards-bookings">
  <% @myproducts.each do |product| %>
  <div class="dash-myproduct">
    <div class="card">
      <% if product.images.present? %>
        <%= cl_image_tag product.images[0].data, class: "card-img-top" %>
      <% else %>
        <%= image_tag 'http://denrakaev.com/wp-content/uploads/2015/03/no-image-800x511.png', class: "card-img-top"%>
      <% end %>
      <div class="card-body p-2">
        <h3 class="card-title"><%= link_to product.title, product_path(product) %></h3>
        <p><%= product.description.first(100) %>...</p>
        <div class="product-information-dashboard">
          <p>€<%= product.daily_cost %></p>
          <div class="product-actions">
            <%= link_to edit_product_path(product) do%>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to product_path(product), method: :delete, data: { confirm: "Are you sure?" } do%>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-orders">
      <% @bookings = product.bookings.sort_by { |k| k[:status] } %>
      <% @bookings.each do |booking| %>
        <div class="card-product m-2">
          <div class="card-product-infos">
            <h3>Booking N: <%= booking.id %></h3>
            <p><%= booking.user.first_name %><%= booking.user.last_name %></p>
            <p><%= booking.id %>| <%= booking.start_date %><%= booking.end_date %> | <%= booking.total_cost %></p>
            <div class="statusbooked d-flex justify-content-between">
              <p class="nav-item dropdown">
                <p class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Status: <%= booking.status %></p>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <%= link_to "Accept", accepted_path(booking) , class: "dropdown-item accepting" %>
                    <%= link_to "Cancel", rejected_path(booking), class: "dropdown-item canceling" %>
                </div>
                </p></p>
              </p>
              <% if booking.status == 'pending' %>
                <i class="fas fa-circle spending"></i>
              <% elsif booking.status == 'accepted' %>
                <i class="fas fa-circle saccepted"></i>
              <% elsif booking.status == 'rejected' %>
                <i class="fas fa-circle srejected"></i>
              <% else %>
                <i class="fas fa-circle sarchived"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
