<!-- dashboard-product-card -->
<div class="information-cards-bookings">
  <% @myproducts.each do |product| %>
  <div class="dash-myproduct">
    <div class="card">
      <img src="<%= product.images[0].data %>" class="card-img-top">
      <div class="card-body p-2">
        <h3 class="card-title"><%= link_to product.title, product_path(product) %></h3>
        <p><%= product.description.first(100) %>...</p>
        <div class="product-information-dashboard">
          <p>€<%= product.daily_cost %></p>
          <div class="product-actions">
            <%= link_to edit_product_path(product) do%>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to product_path(product), method: :delete, data: { confirm: "Are you sure?" } do%>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-orders">
      <% product.bookings.each do |booking| %>
        <div class="card-product m-2">
          <div class="card-product-infos">
            <h3>Booking N: <%= booking.id %></h3>
            <p><%= booking.user.first_name %><%= booking.user.last_name %></p>
            <p><%= booking.id %>| <%= booking.start_date %><%= booking.end_date %> | <%= booking.total_cost %></p>
            <p class="nav-item dropdown">
              <p class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Status:
                <%if booking.status == 1 %>
                  <%= 'Pending' %>
                <% elsif booking.status == 2 %>
                  <%= 'Accepted' %>
                <% else %>
                  <%= 'Declined' %>
                <% end %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "Accept", "#", class: "dropdown-item accepting" %>
                  <%= link_to "Cancel", "#", class: "dropdown-item canceling" %>
              </div>
              </p></p>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
