<% if user_signed_in? %>
  <nav class="navbar">
        <%= link_to root_path do %>
        <span class="navbar-logo">Make A Scene</span>
        <% end %>

        <div class="form-inline">
          <%= form_tag products_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control m-2",
            placeholder: "Search for a product"
          %>
          <%= submit_tag "Search", class: "btn pink-button my-2 my-sm-0 mr-5"%>
          <% end %>

          <span class="nav-item dropdown">Hello
          <span class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name%></span>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My dashboard", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Create new product", new_product_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
        </div>
        </span>
        </div>
      </nav>
<% else %>
    <nav class="navbar">
      <%= link_to root_path do %>
      <span class="navbar-logo">Make A Scene</span>
      <% end %>
      <div class="form-inline">
        <%= form_tag products_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control m-2",
            placeholder: "Search for a product"
          %>
          <%= submit_tag "Search", class: "btn pink-button my-2 my-sm-0 mr-5" %>
          <% end %>
        <%= link_to new_user_session_path do %>
        <button class="btn pink-button m-2 pr-2 pl-2" type="button">Sign In</button>
        <% end %>
        <%= link_to new_user_registration_path do %>
        <button class="btn pink-button m-2 pr-2 pl-2" type="button">Register</button>
        <% end %>
      </div>
    </nav>
<% end %>



