<!-- index.html.erb -->
<div class="dashboard">
  <div class="tabies tabs-underlined ">
    <%= link_to dashboard_path do%>
      <h3 class="tab-underlined">My Products</h3>
    <% end %>
    <%= link_to bookings_path do%>
      <h3 class="tab-underlined active">My Bookings</h3>
    <% end %>
    <h3 class="tab-underlined">My Profile</h3>
  </div>
    <% @bookings.each do |booking| %>
        <div class="card-product m-2">
          <img src="<%= booking.product.images[0].data %>" />
          <div class="card-product-infos">
            <h3><%= booking.product.title %></h3>
            <p><%= booking.id %>| <%= booking.start_date %><%= booking.end_date %> | <%= booking.total_cost %></p>
            <div class="booking-card-info d-flex justify-content-between">
              <p>Status: Pending</p>
              <p class="cancel-button">Cancel</p>
            </div>
          </div>
        </div>
    <% end %>
</div>
