<div class="wrapper-product-show">

  <div class="product-image-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @product.images[0].data %>')">
  </div>

  <div class="product-show-card d-flex">
    <div class="product-show-description-location-card p-2 flex-grow-1">
      <h1><%= @product.title %></h1>
      <p>Category: <span style="color: pink;"> <strong><%= @product.category.upcase %></strong></span>  Style: <span style="color: pink;"><strong><%= @product.style.upcase %></strong></span>
          -      Posted by <%= link_to products_path do %>
          <%= @product.user.first_name.upcase%> <%= @product.user.last_name.upcase %>
          <% end %>
        </p>
      <div class="product-show-description">
        <p><%= @product.description %></p>
        <p><strong>Price per day: <%= @product.daily_cost %>€</strong></p>
      </div>
      <div class="product-show-location">
        <h3>Location</h3>
      </div>
    </div>
    <div class="product-show-booking p-2">
      <div class="product-show-book">
        <%= link_to new_product_booking_path(@product) do %>
        <button class="btn pink-button m-2 pr-2 pl-2" type="button">Book now</button>
        <% end %>
      </div>
      <div class="product-show-calendar">
        <h3>Availability</h3>
      </div>
    </div>
  </div>
</div>

