<div class="wrapper-product-show">
  <% if @product.images.present? %>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @product.images.count.times do |index| %>
      <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% @product.images.each do |image| %>
      <% if image == @product.images[0] %>
        <div class="carousel-item active">
        <img class="d-block w-100 product-image-show" src="<%= image.data %>" alt="">
        </div>
      <% else %>
        <div class="carousel-item">
        <img class="d-block w-100 product-image-show" src="<%= image.data %>" alt="">
        </div>
      <% end %>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <% else %>
    <%= image_tag 'http://denrakaev.com/wp-content/uploads/2015/03/no-image-800x511.png', class: "product-image-show"%>
  <% end %>
  <% if @product.user == current_user %>
    <div class="user_product_options d-flex">
      <div class="image_editing">
        <%= link_to 'Uppload an Image', new_product_image_path(@product), class: "submit-button" %>
      </div>
      <div class="image_editing">
        <%= link_to 'Delete an Image', product_images_path(@product), class: "submit-button" %>
      </div>
    </div>
  <% end %>
  <div class="product-show-card d-flex">
    <div class="product-show-description-location-card p-2 flex-grow-1">
      <h1><%= @product.title %></h1>
      <p>Category: <span style="color: pink;"> <strong><%= @product.category.upcase %></strong></span>  Style: <span style="color: pink;"><strong><%= @product.style.upcase %></strong></span>
          -      Posted by <%= link_to userproducts_path(@product), style: "color: pink;", class: "cosita" do %>
          <%= @product.user.first_name.upcase%> <%= @product.user.last_name.upcase  %>
          <% end %>
        </p>
      <div class="product-show-description">
        <p><%= @product.description %></p>
        <p><strong>Price per day: <span style="color: gray;"id="product-show-daily-cost" ><%= @product.daily_cost %></span>€</strong></p>
      </div>
      <div class="product-show-location">
        <p>Location: <em><%= @product.location %> </em></p>
      </div>
    </div>
    <% if @product.user != current_user %>
      <%= render "bookings/booking_form", product: @product, booking: @booking %>
    <% end %>
  </div>
</div>

