<div class="wrapper-product-show">

  <% if @product.images.present? %>
    <%= image_tag @product.images[0].data, class: "product-image-show" %>
  <% else %>
    <%= image_tag 'http://denrakaev.com/wp-content/uploads/2015/03/no-image-800x511.png', class: "card-img-top"%>
  <% end %>
  <div class="product-show-card d-flex">
    <div class="product-show-description-location-card p-2 flex-grow-1">
      <h1><%= @product.title %></h1>
      <p>Category: <span style="color: pink;"> <strong><%= @product.category.upcase %></strong></span>  Style: <span style="color: pink;"><strong><%= @product.style.upcase %></strong></span>
          -      Posted by <span style="color: pink;"><strong><%= @product.user.first_name.upcase %><%= @product.user.last_name.upcase%></strong></span>
        </p>
      <div class="product-show-description">
        <p><%= @product.description %></p>
        <p><strong>Price per day: <span style="color: gray;"id="product-show-daily-cost" ><%= @product.daily_cost %></span>€</strong></p>
      </div>
      <div class="product-show-location">
        <h3>Location</h3>
      </div>
    </div>
    <%= render "bookings/booking_form", product: @product, booking: @booking %>
  </div>
</div>

