<!-- _form.html.erb -->
<div class="form">
  <%= simple_form_for [@product, @image] do |f| %>
  <% if @image.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @image.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :data,input_html: {class: 'input-stuff'}, label: 'Image'  %>
    <div style="display: flex; justify-content: space-between; align-items: center;">
    <%= f.button :submit, class: 'submit-button'  %>
  <% end %>
  <%= link_to 'Add images later', product_path(@product), class: 'going-back', style: "margin: 20px;
  color: black;" %>
  </div>
</div>
